.features {
    background-color: #ffffff; /* Fond blanc */
    padding: 4rem 2rem;
    text-align: center;
}

.features-content {
    max-width: 1200px;
    margin: 0 auto;
}

.features h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #333;
}

/* Conteneur pour les éléments */
.feature-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

.feature-item {
    background: linear-gradient(90deg, #1e1e1e, #333333); /* Dégradé du noir au gris foncé */
    border-radius: 50px; /* Arrondir les coins */
    padding: 2rem;
    width: 100%;
    text-align: left;
    position: relative;
    color: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

/* Bande rouge à gauche */
.feature-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    height: 100%;
    background-color:#ff4b2b;
    border-radius: 50px 0 0 50px; 
}

/* Effet au survol */
.feature-item:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 25px rgba(255, 0, 0, 0.5);
}

.feature-icon {
    font-size: 2.5rem;
    color: #ff4b2b;
    margin-right: 1rem;
    vertical-align: middle;
}

.feature-item h3 {
    font-size: 1.7rem;
    margin-bottom: 1rem;
    display: inline-block;
    vertical-align: middle;
}

.feature-item p {
    font-size: 1rem;
    margin-top: 0.5rem;
    color: #ddd; /* Texte en gris clair */
}

@media (max-width: 1024px) {
    .feature-item {
        width: 90%;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .feature-item {
        padding: 1.5rem;
    }
}
