/* src/assets/Css/componentsCss/Sidebar.css */

.sidebar {
    width: 250px;
    background-color: #f4f4f4;
    padding: 1rem;
    padding-top: 130px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    border-right: 1px solid #ddd;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
}

.sidebar-section {
    margin-bottom: 1rem;
}

.sidebar-section-title {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

.sidebar-section-title:hover {
    background-color: #ddd;
}

.sidebar-icon {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.sidebar-link {
    color: #333;
    text-decoration: none;
    font-size: 1rem;
    display: block;
    padding: 0.5rem 0;
    margin-left: 2rem; /* Aligns the link text */
}

.sidebar-link:hover {
    background-color: #ddd;
}

.sidebar-submenu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    padding-left: 1rem; /* Adjusts the padding for submenu items */
}

.sidebar-section:hover .sidebar-submenu {
    display: block;
}

.sidebar-submenu li {
    padding: 0.5rem 0;
}

.sidebar-submenu li a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 0.5rem;
}

.sidebar-submenu li a:hover {
    background-color: #ddd;
}
