.dashboard {
  padding: 20px;
  background-color: #f9f9f9; /* Fond clair */
  color: #333333; /* Texte en gris foncé */
}

.dashboard-header {
  background-color: #ffffff; /* Fond blanc pour le header */
  color: #333333; /* Texte en gris foncé */
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1); /* Légère ombre */
  border-left: 5px solid #ff0000; /* Bordure gauche rouge pour accent */
}

.dashboard-header h1 {
  margin: 0;
  font-size: 24px;
  color: #ff0000; /* Rouge vif pour le titre */
}

.dashboard-overview {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.overview-item {
  background-color: #ffffff; /* Fond blanc pour les éléments d'aperçu */
  padding: 15px;
  border-radius: 8px;
  flex: 1;
  margin-right: 10px;
  text-align: center;
  color: #333333; /* Texte en gris foncé */
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1); /* Légère ombre */
  border-bottom: 4px solid #ff0000; /* Bordure inférieure rouge */
}

.overview-item:last-child {
  margin-right: 0;
}

.overview-icon {
  font-size: 24px;
  color: #ff0000; /* Rouge pour les icônes */
  margin-bottom: 10px;
}

.dashboard-charts {
  margin-bottom: 20px;
}

.chart-container {
  display: flex;
  justify-content: space-between;
  gap: 10px; /* Espacement entre les graphiques */
  overflow: hidden; /* Assure qu'il n'y ait pas de barre de défilement horizontale */
}

.chart-item {
  background-color: #ffffff; /* Fond blanc pour les éléments de graphique */
  padding: 10px; /* Réduit l'espace intérieur */
  border-radius: 8px;
  flex: 1;
  min-width: 0; /* Permet aux éléments flexibles de réduire leur largeur si nécessaire */
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1); /* Légère ombre */
  height: 250px; /* Hauteur des graphiques */
  width: calc(50% - 5px); /* Largeur ajustée pour deux graphiques côte à côte */
  position: relative; /* Pour que le titre soit correctement positionné */
  overflow: hidden; /* Cache les débordements */
}

.chart-item h3 {
  margin-bottom: 10px; /* Réduit l'espace sous le titre */
  color: #333333; /* Texte en gris foncé */
}

/* Ajustements pour les appareils mobiles */
@media (max-width: 768px) {
  .dashboard-overview {
    flex-direction: column;
  }

  .overview-item {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .dashboard-header {
    text-align: center;
  }

  .chart-container {
    flex-direction: column;
  }

  .chart-item {
    margin-bottom: 10px;
    height: 180px; /* Réduit la hauteur des graphiques sur les petits écrans */
    width: 100%; /* Occupe toute la largeur disponible sur petits écrans */
  }
}
