.mes-projets {
  padding: 20px;
  background-color: #f4f6f8;
}

.mes-projets-header {
  margin-bottom: 20px;
}

.mes-projets-header h1 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.mes-projets-filters {
  display: flex;
  gap: 16px;
  margin-bottom: 20px;
}

.mes-projets-filters .MuiTextField-root {
  flex: 1;
}

.mes-projets-filters .MuiSelect-root {
  flex: 0.2;
}


.mes-projets-list .table-header-cell {
  font-weight: bold;
  font-size: 16px;
}

.mes-projets-list {
  margin-top: 20px;
}

.mes-projets-list .MuiTable-root {
  border-collapse: separate;
  border-spacing: 0;
}

.mes-projets-list .MuiTableCell-root {
  padding: 16px;
}

.mes-projets-list .MuiTableCell-root:nth-of-type(even) {
  background-color: #f9f9f9;
}

.mes-projets-list .MuiTableCell-root:last-child {
  padding: 0;
}

.mes-projets-list .MuiButton-root {
  font-size: 12px;
  text-transform: none;
  padding: 6px 12px;
}

.mes-projets-list .MuiButton-root.MuiButton-containedInfo {
  background-color: #2196f3; /* Bleu pour le bouton Détails */
  color: #fff;
}

.mes-projets-list .MuiButton-root.MuiButton-containedPrimary {
  background-color: #4caf50; /* Vert pour le bouton Modifier */
  color: #fff;
}

.mes-projets-list .MuiButton-root.MuiButton-containedSecondary {
  background-color: #f44336; /* Rouge pour le bouton Supprimer */
  color: #fff;
}

.mes-projets-list .MuiButton-root {
  width: 100%;
  min-width: 80px;
}

.mes-projets-list .MuiLinearProgress-root {
  width: 100%;
  border-radius: 5px;
}

.mes-projets-list .MuiLinearProgress-bar {
  background-color: #ff9800;
}

.edit-project-form button {
  font-size: 14px; /* Taille de police réduite */
  padding: 8px 16px; /* Moins d'espace intérieur */
  border-radius: 4px; /* Coins arrondis */
  margin-right: 10px; /* Espacement entre les boutons */
}

/* Couleur des boutons du formulaire de modification */
.edit-project-form button {
  width: 200px;
  align-content: center;
  background-color: #000000; 
  color: #ffffff;
  border: none; 
  cursor: pointer; 
}

.edit-project-form button:hover {
  background-color: #333333; /* Couleur de fond au survol */
}